* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 2rem;
}

:root {
    --seconds-color: #fff;
    --main-color: #3498DB;
    --third-color: #5DADE2;
    --four-seconds-color: #21618C;
    --bg: #333;
}

body {
    background: var(--bg);
}

ul {
    list-style: none;
    margin: 0;
}

li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

.l-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 7%;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.l-header::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--four-seconds-color);
    transition: all 0.4s ease;
}

.l-header .logo {
    position: relative;
    display: flex;
}

.l-header .logo a span {
    color: var(--seconds-color);
    font-size: 3em;
    font-weight: 700;
    font-family: "Nerko One", sans-serif;
}

.l-header .logo a span::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 4px;
    border-radius: 0.75rem;
    box-shadow: 0px 14px 13px 0px rgb(0, 0, 0, 0.2);
    background: var(--seconds-color);
}

.l-header.active::before {
    bottom: 0;
}

.l-nav {
    float: right;
}

.l-nav li {
    display: inline-flex;
    justify-content: right;
    margin: 0 1rem;
}

.l-nav li a {
    display: block;
    color: var(--seconds-color);
    text-transform: uppercase;
    font-weight: 500;
}

.l-nav li .contact {
    display: block;
    padding: 10px 10px;
    background: var(--main-color);
    border-radius: 0.75rem;
}

.l-nav li i {
    display: block;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.l-nav li i:hover {
    color: var(--main-color);
}

.section {
    padding-top: 4rem;
    /* padding-bottom: 4rem; */
}

.home {
    padding: 3rem 0 0;
}

.home-main {
    display: flex;
    justify-content: center;
    max-width: 1130px;
    padding: 8px;
    padding-bottom: 12px;
    margin: 0 auto;
}


.home-text {
    text-align: center;
    max-width: 40%;
    color: var(--seconds-color);
}

.home-text h2 {
    font-size: 6em;
    font-family: "Nerko One", sans-serif;
    text-shadow: 0px 12px 14px rgb(0, 0, 0);
}

.home-text p {
    font-size: 18px;
}

.home-social li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 8px;
}

.home-social li a {
    display: block;
    color: #fff;
    font-size: 24px;
    transition: 0.4s ease-in-out;
}

.home-social li i {
    box-shadow: 0px 14px 13px 0px rgb(0, 0, 0, 0.2);

}

.home-img {
    overflow: hidden;
}

.home-social li a:hover {
    transform: translateY(-5%);
    color: var(--main-color);
}

.home-btn {
    display: block;
    margin: 18px auto;
    padding: 12px 75px;
    background: var(--main-color);
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    color: var(--seconds-color);
    border-radius: 2em;
    box-shadow: 0px 14px 13px 0px rgb(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.home-btn:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 760px) {
    .home-main {
        flex-direction: column;
    }

    .home-text {
        text-align: left;
        max-width: 80%;
        margin-left: 8%;
    }

    .home-text h2 {
        font-size: 4em;
    }

    .home-btn {
        margin-left: 0;
        margin-right: 0;
    }
}